/* @scroll-timeline element-move {
    source: auto;
    orientation: vertical;
    scroll-offsets: selector(#myElement) start 0, selector(#myElement) end 0;
} 

this code is not yet used on most browsers */

body {
    background-color: #3F434A;
    color: whitesmoke;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.intro {
    display: grid;
    place-items: center;
    min-height: 100svh;
}

.frame {
    margin: 5% 20% 0% 0%;
    padding: 2px;
    width: 224px;
    background-color: #92d6d1;
}


h1 {
    text-align: left;
    font-size: 12.9vw;
    padding: 40px;
    margin: 0;
    font-variant: small-caps;
    font-weight: 540;
    
}

h2 {
    font-variant: small-caps;
    font-size: x-large;
}


section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100svh; 
}

.scroll-fade {
    opacity: 0;
    filter: blur(5px);
    transition: all 2.5s;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translate(-100%);
    transition: all 1.5s;

/* the transition propery makes the elements fade in and out 
the blur gives a blur effect as the element moves
this transform starts the element on the left and moves it to the center*/

}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }

/* this prevents animation from looping i think?? */

}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}

.free-code-camp {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.free-code-camp:nth-child(2) {
    transition-delay: 300ms;
}
.free-code-camp:nth-child(3) {
    transition-delay: 700ms;
}

.codecademy {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.codecademy:nth-child(2) {
    transition-delay: 300ms;
}
.codecademy:nth-child(3) {
    transition-delay: 700ms;
}
.codecademy:nth-child(4) {
    transition-delay: 1100ms;
}

