body {
  background-color: #faf9f7;
  color: #090806;
  font-family: Arial;
  margin: 10% 5%;
}
h3 {
  text-transform: uppercase;
  color: #35b5ac
}
a  {
  color: #35b5ac
}
.expsubhead {
  font-weight: bold;
  
}
