body {
    
    background-color: whitesmoke;
    font-family: sans-serif;
}

.mainlogo {
    height: 1.5em;
}
.logobullet {
    height: 0.65em;
}

h3 {
    color: #3AB5AC;
    font-variant: small-caps;
    font-size: x-large;
}

h4, h5 {
    font-weight: 540;
}

p {
    font-weight: 300;
}

li {
    font-weight: 300;
}



.parentgrid {
    display: grid;
    width: 100%;
    height: 1500px;
    position: relative;
    margin: auto;
    gap: 1%;
    grid-template: repeat(7, 1fr) / repeat(9, 1fr);
}
/* .emptybox1 {
    grid-area: 1 / 1 / span 3 / span 2;
    min-width: 0%;
} */

.intro {
    display: grid;
    grid-area: 1 / 3 / span 3 / span 7;
    
}

.leftinfo {
    grid-area: 4 / 1 / span 3 / span 3;
    padding: 0% 5% 0% 5%;
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    border-right-color: #3f434ab5; 
}

.rightinfo {
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    border-left-color: #3f434ab5;
    padding: 0% 5% 0% 5%;
    grid-area: 4 / 4 / span 3 / span 6; 
    
}


.frame {
    margin: 5% 20% 0% 0%;
    padding: 2px;
    width: 228px;
    background-color: #57c3bc69;
}

h1 {
    
    text-align: left;
    color: #3F434A;
    font-size: 7em;
    padding: 40px;
    margin: 0%;
    font-variant: small-caps;
    font-weight: 540;
    display: flex;
    flex-shrink: 0.5;
}

.contact {
    /*float: left;
    width: 130%;
    padding-left: 20%;*/
    color: #3F434A;
    opacity: 60%;
}

a {
    color: #3F434A;  
}

.futurebox {
    display: grid;
    grid-area: 8 / 4 / span 1 / span 3;
}




.bottomlogo {
    opacity: 5%;
    position:fixed;
    right:10px;
    bottom: 10px
}

@media(max-width:700px) {
	.parentgrid {
      	display:block;
      	grid-template-columns: auto;
      	grid-template-columns: auto;
  	}
}


